{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="row mt-xxl-5">
                <div class="col-md-12">
                    <h1 class="display-5 text-center">{{ 'page.categories.title' | trans }} ({{ pagination.getTotalItemCount }})</h1>
                </div>
            </div>
            <div class="row">
                <table class="table text-center">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'page.categories.table.id' | trans, 'c.id') }}</th>
                        <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'page.categories.table.name' | trans, 'c.name') }}
                        </th>
                        <th></th>
                    </tr>


                    {% for category in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td><a href="{{ path('product_category_products', {'name': category.name}) }}">{{ 'page.categories.table.products' | trans }}</a></td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="navigation col-md-4 offset-md-4 mt-4 d-flex justify-content-center mb-5">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}