{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="row mt-xxl-5">
                <div class="col-md-12">
                    <h1 class="display-5 text-center">{{ category.name }} ({{ pagination.getTotalItemCount }})</h1>
                </div>
            </div>
            <div class="row">
                <table class="table text-center">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'page.categories_products.table.id' | trans, 'p.id') }}</th>
                        <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'page.categories_products.table.name' | trans, 'p.name') }}
                        </th>
                        <th>{{ knp_pagination_sortable(pagination, 'page.categories_products.table.description' | trans, 'p.description') }}</th>
                    </tr>

                    {% for product in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="navigation col-md-4 offset-md-4 mt-4 d-flex justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}