{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="row mt-xxl-5">
                <div class="col-md-12">
                    <h1 class="display-5 text-center">{{ 'page.product.index.title' | trans }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}

                    <div>
                        {{ form_label(form.file) }}
                        {{ form_widget(form.file) }}

                        <div class="form-error">
                            {{ form_errors(form.file) }}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-success mt-2" value="{{ 'form.csv_import.file.submit' | trans }}" />

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}